
# Virtual environment
venv/

# Model files
model/
*.bin
*.pt
*.tar.gz

# Python cache
__pycache__/
*.py[cod]
*.class

# Jupyter Notebook
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# System files
.DS_Store

# Ignore large model files
joint-disfluency-detector-and-parser/best_models/
